*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    margin-left: 1rem;
    min-height: 4vh;
    padding: 1rem;
    background-color: rgb(137, 141, 145);
    position: relative;
}
h1{
    text-align: initial;
    font-size: 50px;
    margin-right: 2rem;
}
header h3{
    background-color: white;
    text-align: center;
    margin: 1rem;
    border-style: solid;
}
header img{
    width: 100%;;
    height: 300px;;
    vertical-align: center;
}
nav{
    min-height: 5vh;
    padding: 1rem;
    position: absolute;
    left: 60%;
    top: 10px;
}
.nav{
    display: inline-block;
    background-color: blue;
    text-align: center;
    width: 4rem;
    height: 3rem;
    color: azure;
    padding-top: 1rem;
    text-decoration: none;
}
.nav:hover{
    background-color: green;
    color: azure;
}
.nav:active{
    color: black;
}
main{
    margin-left: 1rem;
    background-color: rgb(128, 124, 120);
    padding-left: 3rem;
}
main img{
    position: absolute;
    display: inline-block;
    width:10%;
    height:100px;
}
main h2{
    text-align: center;
}
.p{
    display: inline;
    border-bottom: 2px solid #000;
}
.pp{
    text-align: center;
}
.texto{
    position: relative;
    left: 20%;
}
.ol{
    list-style-type: decimal;
}
.ul{
    list-style-type: circle;
}
table{
    width: 50%;
    height: 40%;
}
table td{
    text-align: center;
}
footer img{
    position: absolute;
    display: inline-block;
    width:10%;
    height:100px;
}
footer{
    margin-left: 1rem;
    background-color: rgb(128, 124, 120);
    height: 9rem;
}