*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    min-height: 4vh;
    padding: 1rem;
    background-color: rgb(137, 141, 145);
    margin: 1rem;
    position: relative;
}
h1{
    text-align: initial;
    font-size: 70px;
    margin-right: 2rem;
}
header h3{
    background-color: white;
    text-align: center;
    margin: 1rem;
    border-style: solid;
}
header img{
    width: 100%;;
    height: 300px;;
    vertical-align: center;
}
nav{
    min-height: 5vh;
    padding: 1rem;
    position: absolute;
    left: 80%;
    top: 10px;
}
.nav{
    display: inline-block;
    background-color: blue;
    text-align: center;
    width: 4rem;
    height: 3rem;
    color: azure;
    padding-top: 1rem;
    text-decoration: none;
}
.nav:hover{
    background-color: green;
    color: azure;
}
.nav:active{
    color: black;
}
main{
    background-color: rgb(128, 124, 120);
}
main img{
    position: absolute;
    display: inline-block;
    width:10%;
    height:100px;
}
.texto{
    position: relative;
    left: 20%;
}
footer img{
    position: absolute;
    display: inline-block;
    width:10%;
    height:100px;
}
footer{
    background-color: rgb(128, 124, 120);
    height: 6rem;
}